<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordcloud</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        body {
        background-color: #000
        }

        .tagcloud {
            font-family: 'Poppins', sans-serif;  
            font-size: 20px;
            margin: auto;
            width: 50%;
        }
        .tagcloud--item:hover {
            color: #36454F;
        }
    </style>
</head>
<body>
    <span class="content"></span>

    <script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"> </script>
    <script>
        const myTags = [
    'JavaScript', 'CSS', 'HTML',
    'C', 'C++', 'React',
    'Python', 'Java', 'git', 'git', 'git',
    'Django', 'Node.js', 'OpenCV',
    'GCP', 'MySQL', 'jQuery',
];

    let tagCloud = TagCloud('.content', myTags,{

    // radius in px
    radius: 250,

    // animation speed
    // slow, normal, fast
    maxSpeed: 'fast',
    initSpeed: 'fast',

    // 0 = top
    // 90 = left
    // 135 = right-bottom
    direction: 135,
    
    // interact with cursor move on mouse out
    keep: true
    
    });

    //To change the color of text randomly
    let colors = ['#34A853', '#FBBC05', '#4285F4', '#7FBC00', 'FFBA01', '01A6F0'];
    let random_color = colors[Math.floor(Math.random() * colors.length)];
    document.querySelector('.content').style.color = random_color;
    </script>
</body>
</html>